'scopeName': 'source.fstar'

'name': 'F*'

'fileTypes': ['fst']

'editor':
  'commentStart' : '\\(\\*'
  'commentEnd'   : '\\*\\)'

'patterns': [
  {
    'name'  : 'keyword.control.fstar'
    'match' : '\\b(assume|assert|let|in|if|then|else|fun|rec|function)\\b'
  }
  {
    'name'  : 'keyword.other.fstar'
    'match' : '\\b(opaque|logic|requires|ensures|modifies|match|with|and|kind|\
                  type|val|open|module|effect|default|new_effect|sub_effect|\
                  total|private|begin|end)\\b'
  }
  {
    'name'  : 'constant.numeric.integer.decimal.fstar'
    'match' : '\\b([0-9]+)'
  }
  {
    'name'  : 'constant.language.empty-list.fstar'
    'match' : '\\[\\]'
  }
  {
    'name'  : 'constant.language.unit.fstar'
    'match' : '\\(\\)'
  }
  {
    'name'  : 'constant.language.Type.fstar'
    'match' : 'Type'
  }
  {
      'name'  : 'constant.language.monad.fstar'
      'match' : '\\b(Pure|PURE|Tot|STATE|ST|St|ALL|All|EXN|Exn|Ex|\
                     DIV|Div|GHOST|Ghost|GTot|Lemma)\\b'
  }
  {
    'name'  : 'keyword.other.arrow.fstar'
    'match' : '->'
  }
  {
    'name'  : 'keyword.logical-connective.fstar'
    'match' : '(==>|<==>|\\\\/|/\\\\|forall|exists)'
  }
  {
    'name'  : 'variable.other.generic-type.fstar'
    'match' : '\'[a-zA-Z0-9_]+\\b'
  }
  {
    'include': '#comments'
  }
]

'repository':
  'comments':
    'patterns': [
      {
        'name': 'comment.block.fstar'
        'begin': '\\(\\*'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.begin.fstar'
        'end': '\\*\\)'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.comment.end.fstar'
        'patterns': [
          {
            'include': '#comments'
          }
        ]
      }
      {
        'name': 'comment.line.fstar'
        'match': '//.*'
      }
    ]
